@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 999px;
  backdrop-filter: blur(4px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}

.box-slide {
    @apply min-w-82.5 max-w-82.5 lg:min-w-217 lg:max-h-67.5
}

html[data-text-size="large"] .box-slide {
  @apply lg:max-h-full lg:min-w-240 lg:max-w-240;
}

html[data-text-size="large"] .box-slide picture {
  @apply w-full min-h-74
}

/*Sintese de Pautas*/

.bg-linear {
  @apply bg-linear-to-r from-[#f2c230] to-[#f2c230]/5 py-3 lg:py-5 px-6 lg:px-10 rounded-full
}

html[data-color-scheme="night"] .bg-linear {
  @apply bg-linear-to-r from-[#9c5fd9] to-[#9c5fd9]/5
}

html[data-color-scheme="high-contrast"] .bg-linear {
  @apply bg-linear-to-r from-[#9c5fd9] to-[#9c5fd9]/5
}